spring:
  application:
    name: order

  datasource:
    url: jdbc:postgresql://localhost:5432/orderTCS
    username: postgres
    password: suvam123

  jpa:
    database: POSTGRESQL
    show-sql: true
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8083

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
