server:
  port: 8085

spring:
  application:
    name: gateway

  cloud:
    gateway:
      routes:
        - id: user
          uri: lb://USER
          predicates:
            - Path=/api/users/**

        - id: product
          uri: lb://PRODUCT
          predicates:
            - Path=/api/products/**

        - id: order
          uri: lb://ORDER
          predicates:
            - Path=/api/orders/**, /api/cart/**

        - id: eureka
          uri: http://localhost:8761
          predicates:
            - Path=/eureka/main
          filters:
            - SetPath=/

        - id: eureka-static
          uri: http://localhost:8761
          predicates:
            - Path=/eureka/**

management:
  endpoints:
    web:
      exposure:
        include: "*"

  endpoint:
    health:
      show-details: always

  health:
    circuitbreakers:
      enabled: true

  tracing:
    sampling:
      probability: 1.0

# Resilience4j Circuit Breaker Configuration
resilience4j:
  circuitbreaker:
    instances:
      ecomBreaker:
        registerHealthIndicator: true
        slidingWindowSize: 10
        minimumNumberOfCalls: 5
        permittedNumberOfCallsInHalfOpenState: 3
        waitDurationInOpenState: 10s
        failureRateThreshold: 50
        automaticTransitionFromOpenToHalfOpenEnabled: true
        slidingWindowType: COUNT_BASED
